{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties"
  ],
  "env": {
    "test": {
      "presets": [
        ["env", {
          "targets": {
            "node": "6"
          }
        }]
      ],
      "plugins": [
        ["transform-es2015-modules-commonjs", { "loose": true }]
      ]
    },

    "cjs": {
      "plugins": [
        ["transform-es2015-modules-commonjs", { "loose": true }]
      ]
    },

    "esm": {
      "presets": [
        ["env", { "modules": false }]
      ],
      "plugins": [
        "transform-object-rest-spread",
        "transform-class-properties"
      ],
    }
  }
}
