{
  "env": {
    "test": {
      "presets": [
        "react",
        ["env", {
          "targets": {
            "node": "current"
          }
        }]
      ],
      "plugins": [
        "transform-object-rest-spread",
        "transform-class-properties",
        ["transform-es2015-modules-commonjs", { "loose": true }]
      ]
    },

    "cjs": {
      "presets": [
        "react",
        "env"
      ],
      "plugins": [
        "transform-object-rest-spread",
        "transform-class-properties",
        ["transform-es2015-modules-commonjs", { "loose": true }]
      ]
    },

    "esm": {
      "presets": [
        "react",
        ["env", {
          "modules": false
        }]
      ],
      "plugins": [
        "transform-object-rest-spread",
        "transform-class-properties",
      ]
    },

    "umd": {
      "presets": [
        "react",
        ["env", {
          "modules": false
        }]
      ],
      "plugins": [
        "transform-object-rest-spread",
        "transform-class-properties"
      ]
    }
  }
}
