$baseline: 7px;

$baseline-x2  : $baseline * 2;
$baseline-x3  : $baseline * 3;
$baseline-x4  : $baseline * 4;
$baseline-x5  : $baseline * 5;
$baseline-x6  : $baseline * 6;
$baseline-x7  : $baseline * 7;
$baseline-x8  : $baseline * 8;
$baseline-x9  : $baseline * 9;
$baseline-x10 : $baseline * 10;
